*, *:before, *:after { /* this saves lives, read this http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #D0D0D0;

}

/*******************************
	Header/Navbar
*******************************/

#header {
	background-color: #009933;
	border-radius: 10px 10px 0px 0px;
	width: 100%;
	height: 25%;
	margin-right: auto;
	margin-left: auto;
	
	overflow:hidden; /* allows background green color to automatically encapsulate floated elements (aka your nav items), check out http://colinaarts.com/articles/the-magic-of-overflow-hidden/ */
	
}


#logo {
		border-radius: 10px;
		width: 25%;
	}

#navlinks {	
	width: 100%;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	padding-top: 25px;
	padding-bottom: 20px;
}

#navlinks ul {
	padding: 0;
	display: inline;
}

#navlinks li {
	
	display: inline;
	margin-top: -10px;
	list-style-type: none;
	padding: 0 75px;
	padding-top: 40px;
	font-family: arial;
	
	color: white;
}

#navlinks li img {
	height: 30px;
}

#phone{
	background-color: black;
	position:relative;
}

#phone h3{
	color: white;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	margin-right: 70px;
	float:right;

}

/*******************************
	Header Image
*******************************/
#slideshow {
	
	width:100%;
	height:300px;
	overflow:hidden; /* prevents huge images from showing outside our container */
}
	
#slideshow img {
	display:block; /* prevents gapping underneath images displayed inline or inline block, also allows margins */
	height:100%; /* 100% height and width to fill up our #slideshow container */
	width:100%;
}

/*******************************
	Home page styles
*******************************/
#content {
	/* don't set predefined dimensions on content, this container should always expand freely
	height: 600px;
	width:100%;
	*/
	min-height:600px; /* min-height will expand as needed*/
	
	background-image: url("bg.jpg") ;
	background-repeat:no-repeat;
	
	overflow:hidden; /* http://colinaarts.com/articles/the-magic-of-overflow-hidden/ */
}

#footer {
	
}

#sidebarleft {
	width:400px;
	
	padding:25px 75px;
	position:relative; /* in this case position isn't really needed, im just including it to demonstrate that it can be used to reset the coordinate system for position:absolute. i correctly absolutely position the "get a quote button" thanks to this */
	padding-bottom:150px; /* i need to include this to give space for the "get a quote" button im absolutely positioning, absolutely positioned elements take up no space. normally i wouldn't use position:absolute for the button but i am here for info */
	overflow: hidden;
	float:left; /* float it left so our content (unfloated) takes up the remaining space to the right */
}

#sidebarleft h2 {
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
}

#sidebarleft p {
	
	font-family: Arial, Helvetica, sans-serif;
}

#sidebarright {
	/* if you don't float the adjacent div the remainder of the space will be used, hence no width or float being defined here */
	overflow:hidden; /* need to set this so our .third gets properly split into thirds and our "top services" title is properly centered on the images */
	padding:25px 75px 25px 25px; /* im leaving off the left side's padding by 50px because my .third class will be adding the space itself */

	border-left:1px dotted gray;
	min-height:100%; /* ensures our border spans the entire side even if content isnt tall enough to cover all of #sidebarleft */
}

#sidebarright h1 {
	color:green;
	text-align: center;
}

#sidebar h3{
	float: right;
}

#sidebarright .image-container img {
	height:100%;
	min-width:100%;
	
	display:block;
	position:absolute;
	top:0;
	left:0;
}

#sidebarright .image-container { /* this is some ninja css from http://www.dwuser.com/education/content/creating-responsive-tiled-layout-with-pure-css/ */
	overflow:hidden;
	border:3px solid white;
	position:relative;
	width:100%;
	padding-bottom:80%; /* this is part of the ninja css */
}

#sidebarright .third {
	width:33.3%;
	position:relative; /* again using this to reset our coordinate system for absolute placement of stuff inside this element */
	float:left;
	padding-left:50px;
}

#sidebarright .third h3 {
	text-align:center;
}


#whyUs  {
	padding-top: 1px;
	
	clear: both;

}
/*
#sprinkler {
	
	height: 300px;
	width: 275px;
}
#sprinkler h3 {

	text-align: center;

}

#planting h3{
	text-align: center;
}

#planting {
	
	
	height:300px;
	width: 275px;
	margin-left: 300px;
	margin-top:-320px;
	
	
}

#lawncare {
	margin-top: -320px;
	height: 300px;
	width: 275px;
	float: right;
}

#lawncare h3 {
	text-align: center;
}
*/

#bottomleft {
	
	bottom:0; /* this forces our button to the bottom and sides of our #sidebarleft container, i used margin to pull back the button from the walls of the sidebar a bit */
	left:0;
	right:0;
	margin: 0 auto; /* position:absolute won't respect #sidebarleft's 75px padding so i gave our button a 60px buffer (75px didnt look right to me)- it would also work to set bottom:60px instead, just wanted to illustrate this for ebijucational purposes */
	width: 100%;
	border-radius: 10px;
	background-color: #009933;
	/*
	margin-left: 120px;
	margin-top:400px;
	width:200px;
	height:75px;
	*/
	
	padding:0.2em 2em; /* this allows for our inner text to grow the button without expanding beyond it (will never happen in this page's case but just nice to keep in mind) */
}

#bottomleft h2 {
	text-align: center;

	}

#datePicker {
	font-size: 14px;
	margin-top: 9em;
}

#ui-widget-content{
	color:green;
}

#bottomright {
	/*
	width:25px;
	height:25px;
	margin-left: 800px;
	*/
	clear:both; /* clear our #sidebarleft float so the box doesnt fit inside the remaining space not taken up by #sidebaright */
	padding:50px 0;
	float:right;
}

#bottomright img {
	margin-right: 10px;

}

#bottomright p {
	color: black;
}

#bottomright a {
	text-decoration: underline;
	color: black;
}

/****************************
	Testimonials Page
****************************/
#reviews {
	width:100%;
	background-image: url("bg.jpg") ;
	background-repeat:no-repeat;
	overflow: hidden;
}

#reviews h2, p {
	text-align: center;
	font-family: "arial";
}

#reviews hr {
	width: 50%;
}

/****************************
	Contact Page
****************************/
#sidebarinfo {
	width: 35%;
	padding-top: 15px;
	padding-left: 170px;
	position: absolute;
}

#sidebarform {
	padding-top: 23px;
	margin-left: 51%;
	width:35%;
	height: 31%;
	position: absolute;
}

#contentcontact {
	
	width:100%;
	background-image: url("bg.jpg") ;
	background-repeat:no-repeat;
	overflow: hidden;
}

#googleMap {
	width: 100%;
	height: 250px;
	border-style: solid;
}


/****************************
	Services
****************************/

.slider {
  overflow:hidden;
 
  width:500px;
  position:relative;
  
  margin-right: auto;
  margin-left: auto;
}

.sliderImage {
  background-color:yellow;
  height:246px;
  margin-left: 35px;
  margin-right: 35px;
  border-style: solid;
  border-width: 5px;
}

.slider .next.button {
  right:0;

}

.slider .button {
  position:absolute;
  padding:0.1em 1em;
 
  top:40%;
  cursor:pointer;
  width: 50px;
  height: 50px;
  text-align: center;
 
}

.slider .sliderImage img {
       width:420px;
       max-height: 100%;
}

.slider .previous.button {
  left:-6px;
}

#jobscontent {
	width:100%;
	background-image: url("bg.jpg") ;
	background-repeat:no-repeat;
	overflow: hidden;
}

#jobscontent h2 {
	font-family: arial;
	text-align: center;
	color:green;
}

#bottomnav {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	clear:both;
	height:4%;
	width:100%;
	
}


#bottomnav ul {
	width:60%;
	margin: 0 auto;
	text-align: center;
	display: inline;

	
}

#bottomnav li {
	
	margin-right: 22px;
	display: inline;
	list-style-type: none;
}

#bottomnav a {
	color: black;
}

#sidebarJobsLeft {
	height: 225px;
	 width: 50%;
   float: left;
	font-family: arial;
	border-right-style: solid;

}

#jobInfo {
	width:500px;
	margin-right: auto;
	margin-left: auto;
	overflow-y: scroll;
	max-height: 250px;
}

#sidebarJobsRight {
	 width: 50%;
   float:left;
}

/*#sidebarJobsRight img {
	   width:400px;
	   height:225px;
	   display:block;
	   margin: auto;


}*/

/****************************
	Footer
****************************/

#footer {
	
	border-radius: 0px 0px 10px 10px;
	background-color: #009933;
	
	/* unfloated content automatically takes up 100% of the remaining width so no need to say width:100%
	width: 100%;
	height: 7%;
	*/
	
	padding:1em;
	
	
	clear:both; /* clear any floats */
}

#footer p {
	
	padding-top: 15px;
	text-align: center;
	font-family: arial;
	margin-right: -15px;
}



#social {
	
	position: absolute;
	margin-top: 5px;
	margin-left:420px;
	
	
}

#social img {
	float: left;
	padding-right: 5px;
	margin-top: 15px;
	margin-right:;

}

/****************************
	Links
****************************/

a {
	text-decoration: none;
 	color: white;
}

/* noooooo you shouldn't set such a general selector for such a common tag- what if i wanted a to not take up any space?
a {
	margin-left: 50px; margin wouldnt work on this since it's an inline element, you'd need to display:block or display:inline-block to make it box-like
}

a:link {
 height: 100px;
 width: 100px;
}
*/

a:hover { 
    font-weight: bold;
}

